@media (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  .header__logo {
    margin-left: 0px;
    margin-right: 200px;
  }
  .main-text {
    margin-top: 0px;
  }
  .main-text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
  }
  .main-text p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 328px;
    margin-left: 44px;
    margin-top: 54px;
  }
  .main-text .calculate-btn {
    width: 250px;
    height: 50px;
    background: #D20C83;
    border-radius: 15px;
  }
  .main-text .calculate-btn .text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  .firstscreen {
    height: 750px;
  }
  .firstscreen .video {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 51%, 0 82%);
            clip-path: polygon(0 0, 100% 0, 100% 51%, 0 82%);
  }
  .stack .first-block {
    height: 50px;
  }
  .stack .first-block .items {
    width: 44.33px;
    height: 44.33px;
    margin-right: 17px;
  }
  .stack .first-block .items img {
    width: 26.6px;
    height: 26.6px;
    margin-top: 10px;
    margin-left: 9px;
  }
  .stack .first-block .items img.ps {
    margin-top: 11px;
    margin-left: 10px;
  }
  .stack .second-block .items {
    width: 44.33px;
    height: 44.33px;
    margin-right: 17px;
  }
  .stack .second-block .items img {
    width: 26.6px;
    height: 26.6px;
    margin-top: 10px;
    margin-left: 9px;
  }
  .stack .second-block .items img.plus {
    width: 26.6px;
    height: 15px;
    margin-top: 15px;
    margin-left: 9px;
  }
  .stack .second-block .items img.til {
    margin-top: 9px;
    margin-left: 10px;
  }
  .stack .second-block .items img.fig {
    margin-top: 9px;
    margin-left: 8px;
  }
  .services .head {
    margin-top: 100px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .services .cat {
    display: block;
  }
  .services .cat .cat-item {
    width: 330px;
    height: 380px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .services .cat .cat-item .main {
    width: 163px;
    height: 165px;
    margin-left: -33px;
  }
  .services .cat .cat-item .main .dir h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .services .cat .cat-item .main .list ul li {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .services .cat .cat-item .price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 200px;
  }
  .services .cat .cat-item .card {
    top: -265px;
    left: 80px;
  }
  .services .cat .cat-item .card img {
    width: 254px;
    height: 254px;
  }
}/*# sourceMappingURL=adaptive.css.map */